
{{>header}}

<div class="container">

{{#each importantData}}
  <h4>Name: {{userName}}</h4>  <h4>Surname: {{userSurname}}</h4> <h4>City: {{userCity}}</h4><br>

<h4>About {{userName}}:</h4>  
<p>{{userAbout}}</p>
{{/each}}
  <br><br></br>

  <div class="row1">
    <div class="nine.columns" class="important">
      <h4>Important Expenses</h4>
      <table>
          <tr>
            <th>Category Name</th>
            <th>Amount</th>
            <th>Rating</th>
          </tr>

			  {{#each importantData}}
			  {{#each important}}
          <tr>
			  		<td>{{category}}</td>
			  		<td>{{amount}}</td>
			  		<td>{{rating}}</td>
		 </tr>
			  {{/each}}
			  {{/each}}
      </table>
    </div>
	  <br>

  </div><br>

  <div class="row2">
    <div class="nine.columns" class="neutral">
	  <h4>Neutral Expenses</h4>
      <table>
          <tr>
            <th>Category Name</th>
            <th>Amount</th>
            <th>Rating</th>
          </tr>

			  {{#each importantData}}
			  {{#each neutral}}
          <tr>
			  		<td>{{category}}</td>
			  		<td>{{amount}}</td>
			  		<td>{{rating}}</td>
		 </tr>
			  {{/each}}
			  {{/each}}
      </table>
	  </div><br>
  </div><br>

  <div class="row3">
    <div class="nine.columns" class="notImportant">
	  <h4>Not Important Expenses</h4>
      <table>
          <tr>
            <th>Category Name</th>
            <th>Amount</th>
            <th>Rating</th>
          </tr>

			  {{#each importantData}}
			  {{#each notImportant}}
          <tr>
			  		<td>{{category}}</td>
			  		<td>{{amount}}</td>
			  		<td>{{rating}}</td>
		 </tr>
			  {{/each}}
			  {{/each}}
      </table>
	  </div>
  </div>


</div>

{{>footer}}