<link rel="stylesheet" href="style.css">

<div class="container">


  <h3>{{userName}}</h3>  <h3>{{userSurname}}</h3> <h3>{{userCity}}</h3><br>
  <p>{{userAbout}}</p>

  <br><br></br>

  <div class="row1">
    <div class="nine.columns" class="important">
      <h4>Important</h4>
      <table>
          <tr>
            <th>Category Name</th>
            <th>Amount</th>
            <th>Rating</th>
          </tr>

          <tr>
			  {{#each important}}
            <td>{{category}}</td>
            <td>{{amount}}</td>
            <td>{{rating}}</td>
			  {{/each}}
          </tr>
      </table>
    </div><br>
    <div class="nine.columns"></div>

  </div><br>

  <div class="row2">
    <div class="nine.columns"></div><br>
    <div class="nine.columns"></div>

  </div><br>

  <div class="row3">
    <div class="nine.columns"></div><br>
    <div class="nine.columns"></div>

  </div>


</div>
